/* MEDIUM DEVICES */
@media only screen and (max-width:768px) {
    .nav__burguer {
        display: flex;
    }

    .nav__list { 
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: 74px;
        right: 0;
        background-color: var(--pColor5);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        transform: translateX(170vw);
        transition: .2s;
        border-left: 2px solid#1d1f2e;
        gap: 0;
    }

    .is-active {
        transform: translateX(0vw);
        transition: .2s;
    }

    .nav__list-item {
        display: flex;
        justify-content: flex-start;
        font-size: 1.4rem;
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid #1d1f2e;
        padding-left: 10%;
    }

    .nav__list-button {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        border-radius: 0; 
        border-bottom: 1px solid #1d1f2e;
        padding: 10px;
        padding-left: 10%;
        height: auto;

    }

    .nav__btn {
        background-color: transparent;
        width: auto;
        height: auto;
        box-shadow: none;
        font-size: 1.4rem;
        padding: 0;
    }

    .nav__btn a {
        color: var(--pColor2);
    }

    .nav__list-item a {
        transition: .2s;
    }

    .nav__list-item:hover {
        background-color: var(--sColor1);
        transition: .2s;
    }

    .nav__list-item:hover.nav__list-item a{
        color: var(--pColor4);
        transition: .2s;
    }

    .nav__btn:hover {
        background-color: var(--sColor1);
        transition: .2s;
    }

    .nav__btn:hover.nav__list-btn a{
        color: var(--pColor4);
        transition: .2s;
    }
}