/* MEDIUM DEVICES */
@media only screen and (max-width:768px) {
    :root {
        --defaultMargin: 0rem 5%;
        --contentMargin: 72px 5% 0px 5%;
    }

    /* Nav */
    .nav {
        border-bottom: 2px solid#1d1f2e;
    }

    .nav__burguer {
        display: flex;
    }

    .nav--overflow {
        overflow: hidden;
    }

    .nav__list { 
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        top: 73px;
        right: 0;
        background-color: var(--pColor5);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translateX(170vw);
        transition: .2s;
        gap: 0;
        padding-bottom: 73px;
    }

    .is-active {
        transform: translateX(0vw);
        transition: .2s;
    }

    .nav__list-item {
        display: flex;
        font-size: 2rem;
    }

    .nav__list-button {
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 0; 
        height: auto;

    }

    .nav__btn {
        background-color: transparent;
        width: auto;
        height: auto;
        box-shadow: none;
        font-size: 2rem;
        padding: 0;
    }

    .nav__btn a {
        color: var(--pColor2);
    }

    .nav__list-item a {
        
        transition: .2s;
    }


    /* Home */
    .home.content{
        /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem; */
        height: auto;
        padding-top: calc(4% + 72px);
        padding-bottom: 4%;
        
        display: grid;
        grid-template-areas: "homeImage"
                             "homeContent";
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }

    .home__intro {
        grid-area: homeContent;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
    }

    .home__image {
        grid-area: homeImage;
        margin-bottom: 2rem;
    }

    .home__intro-mid {
        font-size: 3rem;
    }

    .home__intro-bottom {
        color: var(--pColor2);
        margin-bottom: 5%;
    }

    .home__intro-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .home__button p {
        font-size: 1.2rem;
    }
    
    .home__intro-buttons a {
        width: 100%;
    }

    .home__button--white {
        background-color: var(--pColor5);
        border-radius: 6px;
        box-shadow: 4px 4px 4px var(--pColor5);  
    }

    .home__image img{
        display: flex;
        width: 40%;
        border-radius: 50%;
        border: 6px solid var(--pColor1);
        box-shadow: 0 0 0 10px var(--sColor1);
    }

    .home__image::before {
        content: "";
        position: absolute;
        right: 0;
        height: 100px;
        width: 100%;
        z-index: -1;
        background-color: var(--sColor1);
    }
}