@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --sColor1: #1473fa;
    --sColor2: #0e3975;

    --pColor1: #ffffff;
    --pColor2: #ededeebf;
    --pColor3: #2b3d59;
    --pColor4: #2d3748;
    --pColor5: #26293d;
    --pColor6: #0a121e;

    --javascript: #F0DB4F;
    --react: #61DBFB;
    --typescript: #007acc;
    --node: #3C873A;
    --tailwind: #38bdf8;
    --express: #ffffff;
    --mongo: #4DB33D;
    --cpp: #004482;

    --defaultMargin: 0rem 10%;
}

*, html, body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-image:linear-gradient(to right, var(--pColor3), var(--pColor5), var(--pColor4)) ;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--sColor1);
}

::-webkit-scrollbar-thumb {
    background: var(--pColor5);
    border-top: 2px solid var(--sColor1);}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: var(--defaultMargin);
    background-color: var(--pColor5);
    border-top: 2px solid var(--sColor1);
    box-shadow: 0px 2px 4px #1d1f2e;
    height: 72px;
    width: 100%;
    transition: .5s;
}

.nav__icon {
    font-weight: 700;
    color: var(--pColor1);
    font-style: italic;
    font-size: clamp(5px, 5vw, 1.6rem);
}

.nav__icon--special {
    color: var(--sColor1);
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    width: 100%;
}

.nav__list-item {
    font-size: clamp(5px, 5vw, .8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list-item a:hover {
    transform: scale(1.1);
    color: var(--sColor1);
    transition: .1s;
}

.nav__btn {
    background-color: var(--sColor1);
    font-size: clamp(5px, 5vw, .8rem);
    width: 120px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 0px var(--sColor2);
    border: none;
    transition: .1s;
}

.nav__btn:hover {
    cursor: pointer;
}

.nav__btn:active {
    box-shadow: inset -4px 4px 0 var(--sColor2);
    font-size: clamp(5px, 5vw, .7rem);
    transition: .1s;
}

.nav__btn a{
    color: var(--pColor1);
    text-transform: uppercase;
    font-weight: 700;

}

.nav__list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: var(--pColor2);
    transition: .1s;
}

.nav__list-item a p {
    font-weight: 700;
    text-transform: uppercase;
}

.nav__img {
    max-width: 24px;
    display: none;
}

.nav__burguer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px; 
}

.hidden {
    display: none;
}

#nav__burguer-input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.nav__burguer-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav__burguer-icon,
.nav__burguer-icon::before,
.nav__burguer-icon::after {
    display: block;
    position: absolute;
    height: 4px;
    width: 32px;
    border-radius: 6px;
    background-color: var(--sColor1);
    transition: .2s;
}

.nav__burguer-icon::before {
    content: '';
    margin-top: -8px;
}

.nav__burguer-icon::after {
    content: '';
    margin-top: 8px;
}

#nav__burguer-input:checked ~ .nav__burguer-label .nav__burguer-icon::before {
    transition: .2s;
    margin-top: 0;
    transform: rotate(45deg);
}

#nav__burguer-input:checked ~ .nav__burguer-label .nav__burguer-icon {
    transition: .2s;
    background-color: rgba(0, 0, 0, 0);
}

#nav__burguer-input:checked ~ .nav__burguer-label .nav__burguer-icon::after {
    transition: .2s;
    margin-top: 0;
    transform: rotate(-45deg);
}

.nav__scroll {
    transform: translateY(-72px);
    transition: .5s;
}

/* Content */
.content {
    padding: var(--defaultMargin);
}

.section__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--pColor1);
}

.square {
    height: 10px;
    width: 10px;
    background-color: var(--sColor1);
    box-shadow: 0px 0px 4px var(--sColor1);
}

/* Home */
.home.content{
    height: 100vh;
    padding-top: 4%;
    margin-bottom: 4%; 
    width: 100%;
    display: grid;
    grid-template-areas: "homeContent . homeImage";
    grid-template-columns: 1fr 10rem 1fr;
}

.home__intro {
    grid-area: homeContent;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.home__image {
    grid-area: homeImage;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home__image img{
    display: flex;
    min-width: 20%;
    max-width: 80%;
    border-radius: 50%;
    border: 6px solid var(--pColor1);
    box-shadow: 0 0 0 6px var(--sColor1);
}

.home__image::before {
    content: "";
    position: absolute;
    right: 0;
    height: 200px;
    width: 25%;
    z-index: -1;
    background-color: var(--sColor1);
}

.home__intro-mid {
    color: var(--pColor1);
    font-size: 4rem;
    font-weight: 900;
}

.home__intro-bottom {
    color: var(--pColor2);
    font-weight: 700;
    font-size: 1.5rem;
}

.home__intro-tec {
    font-size: 70%;
    color: var(--sColor1);
}

.home__intro-buttons {
    display: flex;
}

.home__intro-buttons a {
    width: 50%;
}

.home__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-transform: uppercase;
    font-weight: 900;
    transition: .1s;
}

.home__button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .1s;
}

.button--colored {
    background-color: var(--sColor1);
    border: none;
    width: 100%;
    color: var(--pColor1);
    font-size: 1.2rem;
    padding: 16px 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px var(--pColor5);  
    font-size: clamp(5px, 5vw, .8rem);
}

.home__button--white {
    background-color: transparent;
    border: none;
    width: 100%;
    color: var(--pColor1);
    font-size: 1.2rem;
    padding: 16px 20px;
    font-size: clamp(5px, 5vw, .8rem);
}

.button-arrow {
    width: 24px;
}

/* About */
.about.content {
    height: 100vh;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%; 
    display: grid;
    grid-template-areas: "aboutImage . aboutInfo";
    grid-template-columns: 2fr 10rem 2fr;
    grid-template-rows: 1fr;
    position: relative;
    z-index: -1;
}

.about__illustration::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 80%;
    background-color: var(--pColor3);
    z-index: -1;
    left: 15%;
    border-radius: 40% 60% 70% 30% / 
                   40% 50% 60% 50%;
    top: 15%;
}

.about__infos {
    grid-area: aboutInfo;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__illustration {
    grid-area: aboutImage;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__illustration img{
    width: 100%;
}

.about__infos-top p {
    color: var(--pColor1);
    font-weight: 900;
    font-size: 2rem;
}

.about__info-text {
    color: var(--pColor2);
    font-size: 1.6rem;
    font-weight: 700;
}

.about-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-stack__tec {
    display: flex;
    align-items: center;
}

.about-stack__tec p {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 10px;
    font-weight: 700;
    color: var(--pColor1);
}

.about-icons {
    color: var(--sColor1);
    font-size: 80%;
}

.about__button {
    background-color: var(--sColor1);
    border: none;
    width: 100%;
    color: var(--pColor1);
    font-size: 1.2rem;
    padding: 16px 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px var(--pColor5);  
    font-size: clamp(5px, 5vw, 1rem);
}

/* Skills */
.skills.content {
    display: grid;
    grid-template-areas: "skillsInfo . skillsImage";
    grid-template-columns: 2fr 10rem 2fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.section__title.skills {
    margin-bottom: 12px;
}

.skills__illustration {
    grid-area: skillsImage;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__illustration img {
    width: 100%;
}

.skills__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__accordions {
    grid-area: skillsInfo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.accordion {
    background-color: var(--sColor1);
    color: var(--pColor1);
    border-radius: 6px;
    box-shadow: 4px 4px 4px var(--pColor5);  
    width: 100%;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 12px 12px;
}

.accordion__header span {
    font-size: 1.2rem;
}

.accordion__color {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid var(--pColor1);
}

#accordion__js {
    background-color: var(--javascript);
}

#accordion__ts {
    background-color: var(--typescript);
}

#accordion__react {
    background-color: var(--react);
}

#accordion__node {
    background-color: var(--node);
}

#accordion__tailwind {
    background-color: var(--tailwind);
}

#accordion__express {
    background-color: var(--express);
}

#accordion__mongo {
    background-color: var(--mongo);
}

#accordion__cpp {
    background-color: var(--cpp);
}

.accordion__header:hover {
    cursor: pointer;
}

.accordion__title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.accordion__content {
    background-color: var(--pColor1);
    color: var(--pColor6);
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    transition: all .5 ease;
    max-height: 0;
}

.accordion__content p {
    
    padding: 8px 12px;
}

.accordion-icons {
    font-size: 1rem;
}

/* Projects */
.projects.content {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #122237, var(--pColor6), #0e1a2b) ;
    border-radius: 10px;
} 

.projects__intro {
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h2 {
    color: var(--pColor1);
    font-weight: 900;
    font-size: 2rem;
}

.projects__infos {
    display: flex;
    gap: 10rem;
}

.projects__infos-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.projects__infos-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects__infos-text  p {
    color: var(--pColor1);
    font-weight: 700;
    font-size: clamp(5px, 5vw, 1.4rem);
}

.projects__infos-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.projects__infos-illustration img {
    width: 400px;
}

.projects__box {
}

.project {
    background-color: var(--sColor2);
    max-width: 400px;
    border-radius: 6px;
}

.project button img {
    width: 10px;
}