@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --defaultMargin: 0rem 10%;

    --sucess: #77c985;
}

*, html, body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-image: linear-gradient(to right, #26293d, #2b3d59, #2d3748);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

textarea {
    resize: none;
}

fieldset {
    border: none;
}

.hidden {
    display: none;
}

/* ===== N A V B A R ===== */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: var(--defaultMargin);
    background-color: #26293d;
    border-top: 2px solid #1473fa;
    box-shadow: 0px 2px 4px #1d1f2e;
    height: 64px;
    width: 100%;
    transition: .5s;
    z-index: 98;
}

.nav__icon {
    font-weight: 700;
    color: #ffffff;
    font-style: italic;
    font-size: clamp(5px, 5vw, 1.6rem);
}

.blue-text {
    color: #1473fa;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    width: 100%;
}

.nav__item {
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: #ededeebf;
    transition: .1s;
}

.nav__item a:hover {
    transform: scale(1.1);
    color: #1473fa;
    transition: .1s;
}

.nav__item a p {
    font-weight: 700;
    text-transform: uppercase;
}

.nav__burguer {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px; 
}

#nav__burguer-input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.nav__burguer-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav__burguer-icon,
.nav__burguer-icon::before,
.nav__burguer-icon::after {
    display: block;
    position: absolute;
    height: 4px;
    width: 32px;
    border-radius: 6px;
    background-color: #1473fa;
    transition: .2s;
}

.nav__burguer-icon::before {
    content: '';
    margin-top: -8px;
}

.nav__burguer-icon::after {
    content: '';
    margin-top: 8px;
}

#nav__burguer-input:checked ~ .nav__burguer-label .nav__burguer-icon::before {
    transition: .2s;
    margin-top: 0;
    transform: rotate(45deg);
}

#nav__burguer-input:checked ~ .nav__burguer-label .nav__burguer-icon {
    transition: .2s;
    background-color: rgba(0, 0, 0, 0);
}

#nav__burguer-input:checked ~ .nav__burguer-label .nav__burguer-icon::after {
    transition: .2s;
    margin-top: 0;
    transform: rotate(-45deg);
}

.nav__scroll {
    transform: translateY(-72px);
    transition: .5s;
}

/* ===== C O N T E N T  D E F A U L T ===== */
.container {
    padding: var(--defaultMargin);
    padding-top: calc(64px + 2%);
}

.section__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 12px;
}

.square {
    height: 10px;
    width: 10px;
    background-color: #1473fa;
    box-shadow: 0px 0px 4px #1473fa;
}

.button-default {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-weight: 900;
    transition: .1s;
}

.button-default:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .1s;
}

.button-default p {
    font-size: 0.9rem;
}

.button-default--colored {
    background-color: #1473fa;
    border: none;
    width: 100%;
    color: #ffffff;
    padding: 16px 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px #26293d;  
}

.button-default--transparent {
    background-color: transparent;
    border: none;
    width: 100%;
    color: #ffffff;
    padding: 16px 20px;
}

.icon {
    font-size: 1.1rem;
}

.title-default p {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.6rem;
}

.desc-default p {
    color: #ededeebf;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 15px 0;
}

.topic-default {
    display: flex;
    align-items: center;
}

.topic-default p {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
}

.wave-default {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 50px;
}

/* ===== H O M E ===== */
.home.container{
    width: 100%;
    display: grid;
    grid-template-areas: "homeContent . homeImage";
    grid-template-columns: 1fr 10rem 1fr;
}

.home__image {
    grid-area: homeImage;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__image img{
    display: flex;
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 6px solid #ffffff;
    box-shadow: 0 0 0 6px #1473fa;
}

.home__image::before {
    content: "";
    position: absolute;
    right: 0;
    height: 100px;
    width: 25%;
    z-index: -1;
    background-color: #1473fa;
}

.home__content {
    grid-area: homeContent;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.home__name h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.home__role h2 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.home__desc p {
    color: #ededeebf;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.home__intro-tec {
    font-size: 70%;
    color: #1473fa;
}

.home__buttons {
    grid-area: homeButton;
    display: flex;
}

.home__buttons a {
    width: 50%;
}

/* ===== A B O U T ===== */
.about {
    position: relative;
}

.about.container {
    width: 100%;
    display: grid;
    grid-template-areas: "aboutImage . aboutInfo";
    grid-template-columns: 2fr 10rem 2fr;
    grid-template-rows: 1fr;
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
}

.about__image {
    grid-area: aboutImage;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image img{
    width: 100%;
}

.about__content {
    grid-area: aboutInfo;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__tecs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.about__tec {
    display: flex;
    align-items: center;
}

.about__tec p {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 10px;
    color: #ffffff;
}

.about-icons {
    color: #1473fa;
    font-size: 1rem;
}

.about__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-weight: 900;
    transition: .1s;
}

/* ===== S K I L L S ===== */
.skills.container {
    display: grid;
    grid-template-areas: "skillsInfo . skillsImage";
    grid-template-columns: 2fr 10rem 2fr;
    grid-template-rows: 1fr;
    padding-bottom: 2%;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to right, #0a121e, #152744 ,#0e1a2b) ;
}

.skills__image {
    grid-area: skillsImage;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__image img {
    width: 100%;
}

.skills__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__display {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.skills__infos-intro {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.6rem;
}

.skills__display-item {
    background-color: #1473fa;
    width: 56px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-bottom: 4px solid #0e3975;    
    transition: .1s;
}

.skills__display-item:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .1s;
}

.skills__img {
    color: #ffffff;
    font-size: 2.5rem;
    z-index: 3;
}

.wave__top-skills {
    top: -10px;
}

.wave__bot-skills {
    bottom: -40px;
}

/* ===== M O D A L ===== */
.skills__modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}


.skills__modal--active {
    display: flex;
}

.modal {
    position: fixed;
    max-width: 600px;
    background-color: #ffffff;
    z-index: 11;
    border-radius: 20px;
    padding: 10px 25px;
    border-top: 3px solid #1473fa;
    border-right: 3px solid #0e3975;
    border-bottom: 3px solid #0e3975;
    border-left: 3px solid #1473fa;
}

.modal__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 3px solid #1473fa;
}

.modal__icon i {
    color: #1473fa;
    font-size: 2rem;
}

.modal__content {
    display: flex;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    font-weight: 700;
    color: #0a121e;
    height: 50px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.modal__name {
    letter-spacing: 5px;
    font-size: 2rem;
}

.modal__desc {
    color: #0a121e;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 15px 0px;
}

.modal__close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__close img {
    width: 20px;
    height: 20px;
}

.modal__close img:hover {
    cursor: pointer;
}

.modal__buttons {
    display: flex;
    flex-direction: column;
}

.modal__button-close {     
    background: none;
    border: none;
    font-size: 1.1rem;
    color: #0a121e;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
}

.modal__button-close:active {
    font-size: 0.9rem;
    transition: .1s;
}

.modal__button-github {
    background-color: #1473fa;
    border: none;
    border-bottom: 4px solid #0e3975;
    font-size: 1.1rem;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;

}

.modal__button-github:active {
    font-size: 0.9rem;
    transition: .1s;
}

/* ===== P R O J E C T S ===== */
.projects.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    position: relative;
    z-index: 1;
} 

.projects__content {
    display: grid;
    grid-template-areas: "projectsImage . projectsInfo";
    grid-template-columns: 2fr 10rem 2fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
}

.projects__image {
    grid-area: projectsImage;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects__image img {
    width: 100%;
}

.projects__infos {
    grid-area: projectsInfo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.projects__topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.check-icon {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 10px;
}

.project-topic__icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

.projects__btn {
    width: 100%;
}

.projects__btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #1473fa;
    border: none;
    width: 100%;
    color: #ffffff;
    padding: 16px 20px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px #26293d;  
    font-weight: 900;
    text-transform: uppercase;
    font-size: .9rem;
    transition: .1s;    
}

.projects__btn p {
    font-size: .9rem;
}

.projects__btn button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .1s;    
}

.projects__display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 4rem;
}

.projects__card {
    background-image: linear-gradient(145deg, #2b3d59, #2d3748);
    border: 1px solid #26293d;
    padding: 60px 20px;
    border-radius: 16px;
    position: relative;
    transition: .1s;
    box-shadow: 4px 5px 4px #26293d;
}

.projects__card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .1s;
    border-color: #1473fa;
}

#project-null {
    display: flex;
    align-items: center;
    border: none;
    background-image: linear-gradient(to bottom, #1473fa, #0e3975);
}

#project-null p {
    font-size: 1.8rem;
    font-weight: 900;
    color: #ffffff;
}

.null-icon {
    margin-left: 10px;
    font-size: 1.2rem;
}

.projects__card h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.projects__card p {
    color: #ededeebf;
    margin-bottom: 20px; 
    font-size: 1.2rem;
    font-weight: 500;   
}

.projects__link {
    font-weight: 500;
    font-size: 1.4rem;
    transition: .1s;
    color: #ededeebf;
}

.projects__link a {
    margin-right: 10px;
}

.projects__link a:hover {
    text-decoration: underline;
}

.projects__link i {
    color: #1473fa;
}

.projects__icon {
    background-image: linear-gradient(to bottom, #1473fa, #0e3975);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    left: 20px;
    border: 1px solid #26293d;
}

.projects__icon i {
    color: #ededeebf;
    font-size: 24px;
}

.projects__card:hover > .projects__icon {
    border-color: #1473fa;
}

/* ===== C O N T A C T ===== */
.contact.container {
    display: flex;
    flex-direction: column;
    position: relative;
} 

.section__title.contact {
    margin-bottom: 0;
}

.contact h2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.contact__content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10rem 1fr;
    grid-template-areas: "contactInfos . contactForm";
    width: 100%;
    max-width: 100%;
    border-radius: 16px;
    margin-bottom: 2rem;
}

.contact__form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: contactForm;
}


.form__container {
    display: flex;
    flex-direction: column;
}

.form__field {
    position: relative;
}

.contact__form input {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    font-size: 1.2rem;
    border: 1px solid #767676;
    background-color: transparent;
    color: #ededeebf;
    transition: all 0.3s ease;
    outline: none;
    margin-bottom: 40px;
    border-radius: 6px;
}

.contact__form textarea {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 1.2rem;
    border: none;
    border: 1px solid #767676;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 6px;
}

.contact__form input ~ span, 
.contact__form textarea ~ span
{   
    text-transform: uppercase;
    transform: translateY(-38px);
    font-size: 0.8rem;
    letter-spacing: 2px;
    opacity: 1;
    border-color: #1473fa;
    color: #eee6e6
}

.contact__form input:focus, 
.contact__form textarea:focus
{
    border-color: #1473fa;
}

.contact__form input:focus ~ span, 
.contact__form textarea:focus ~ span
{
    color: #1473fa;
}

.contact__form span {
    position: absolute;
    top: .9em;
    left: 12px;
    color: #ededeebf;
    pointer-events: none;
    transition: .5s;
    opacity: .5;
    font-weight: 500;
}

.contact__form input:valid,
.contact__form textarea:valid {
    border-color: var(--sucess);
}

.contact__form input:valid ~ span,
.contact__form textarea:valid ~ span{
    color: var(--sucess);
}

.contact__form-btn {
    display: flex;
    justify-content: flex-end;
}

.contact__form-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    background-color: #1473fa;
    border: none;
    font-size: .8rem;
    box-shadow: 4px 5px 4px #26293d;  
    font-weight: 700;
    color: #ffffff;
    padding: 16px 20px;
    text-transform: uppercase;
    transition: .1s;    
    margin: 10px 0px;
}

.contact__form-btn button:hover {
    transition: .1s;
    transform: scale(1.1);
}

.contact__form-btn p {
    margin-right: 5px;
    font-size: 0.9rem;
}

.contact__infos {
    color: #ededeebf;
    grid-area: contactInfos;
    
}

.contact__infos-msg p {
    color: #ededeebf;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact__infos-content {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 10px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.contact__infos-item {
    display: flex;
    align-items: center;
}

.contact__infos-item p {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem;
}

.contact__infos-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__infos-icon i {
    font-size: 1.1rem;
    color: #ffffff;
}

.contact__medias {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 10px;
}

.contact__medias i {
    font-size: 2rem;
    color: #ededeebf;
    transition: .1s;
}

.contact__media i:hover {
    transition: .1s;
    transform: scale(1.1);
    cursor: pointer;
    color: #1473fa;
}

.wave-bot {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 50px;
}

/* ===== F O O T E R ===== */
footer {
    position: relative;
    background-image: linear-gradient(to right, #0a121e, #060b13 ,#0e1a2b) ;
    color: #ededeebf;
    height: auto;
    width: 100%;
    padding-top: 42px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer__name h3{
    font-size: 2.1rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer__desc p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1.1rem;
    color: #cacdd2;
}

.footer__medias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
}

.footer__media i {
    font-size: 1.8rem;
    cursor: pointer;
    transition: .1s;
}   

.footer__media i:hover {
    transform: scale(1.1);
    transition: .1s;
    color: #1473fa;
}

.footer__bottom {
    position: relative;
    background-image: linear-gradient(to right, #030508, #010203,#060b13);
    width: 100%;
    padding: 20px;
    padding-top: 45px;
    padding-bottom: 20px;
    text-align: center;
}

.footer__bottom p{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
}

.footer__bottom p a{
    font-size: 16px;
    text-decoration: none;
}

.wave__footer-top {
    top: -5px;
}

.wave__footer-bot {
    top: -5px;
}

/* ===== U N S U P P O R T E D ===== */
.browser {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.browser i {
    color: red;
    font-size: 3rem;
    margin-right: 10px;
}

.browser p {
    font-size: 3rem;
}